@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

table,
th,
td {
  border-collapse: collapse; }

input,
a,
img,
span,
label,
select {
  vertical-align: middle; }

.sr-only {
  position: absolute;
  top: -9999px;
  opacity: 0; }

.main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: #e8e8e8; }
  .main .inner {
    width: 100%;
    height: 100%;
    position: relative; }
    .main .inner .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
      .main .inner .content .box {
        position: relative;
        width: 25%; }
        .main .inner .content .box .title {
          margin-bottom: 20px;
          font: 500 38px/1 "Exo", sans-serif;
          text-transform: uppercase; }
        .main .inner .content .box .item {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 15px;
          margin-bottom: 20px;
          cursor: pointer;
          transition: 0.35s;
          overflow: hidden; }
          .main .inner .content .box .item::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(100%);
            display: block;
            width: 100%;
            height: 100%;
            background-color: #222;
            opacity: 0;
            transition: 0.35s;
            z-index: 1; }
          .main .inner .content .box .item .itemTit {
            position: relative;
            font: bold 14px/1.4 "Spoqa Han Sans Neo", sans-serif;
            color: #fff;
            text-transform: uppercase;
            z-index: 2; }
          .main .inner .content .box .item .arrow {
            position: relative;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #fff;
            text-indent: -99999px;
            font-size: 0;
            margin-bottom: 10px;
            z-index: 2; }
            .main .inner .content .box .item .arrow::before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              display: block;
              width: 12px;
              height: inherit;
              background-color: inherit;
              transform-origin: right center;
              transform: rotate(45deg); }
            .main .inner .content .box .item .arrow::after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              display: block;
              width: 12px;
              height: inherit;
              background-color: inherit;
              transform-origin: right center;
              transform: rotate(-45deg); }
          .main .inner .content .box .item:hover {
            box-shadow: 5px 5px 15px rgba(156, 156, 156, 0.5); }
            .main .inner .content .box .item:hover::after {
              transform: translateY(0);
              opacity: 1; }
          .main .inner .content .box .item:nth-last-child(2) {
            margin-bottom: 0; }
        .main .inner .content .box .subPage {
          position: fixed;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100vh;
          padding: 30px;
          background-color: #e8e8e8;
          transition: left 1s ease;
          z-index: 6; }
          .main .inner .content .box .subPage.on {
            left: 0; }
          .main .inner .content .box .subPage .bgCircle {
            position: absolute;
            top: 50%;
            right: 15vw;
            transform: translateY(-50%);
            width: 40vw;
            height: 40vw;
            border-radius: 50%;
            filter: blur(20px); }
          .main .inner .content .box .subPage .inner {
            position: relative;
            width: 100%;
            height: 100%; }
            .main .inner .content .box .subPage .inner .subIntro a {
              font: bold 2vw/1.5 "Spoqa Han Sans Neo", sans-serif;
              color: #222; }
            .main .inner .content .box .subPage .inner .prev {
              position: absolute;
              right: 0;
              top: 50%;
              width: 100px;
              height: 100px;
              margin-top: -50px;
              border-radius: 50%;
              background-color: #b7b7b7;
              font: 400 1vw/100px "Exo", sans-serif;
              text-align: center;
              color: #fff;
              transition: 0.35s; }
              .main .inner .content .box .subPage .inner .prev:hover {
                animation: circle 1.5s linear infinite; }
        .main .inner .content .box.intro {
          width: 20%;
          height: calc(100vh - 60px); }
          .main .inner .content .box.intro .intro_tit {
            position: absolute;
            top: 0;
            left: 0;
            font: bold 3vw/1.5 "Spoqa Han Sans Neo", sans-serif;
            color: #222; }
          .main .inner .content .box.intro .intro_desc {
            position: absolute;
            top: 40%;
            left: 0;
            font: 400 0.9vw/1.6 "Spoqa Han Sans Neo", sans-serif;
            color: #222;
            word-break: keep-all; }
          .main .inner .content .box.intro .guide_txt {
            position: absolute;
            bottom: 0;
            left: 0;
            font: 400 0.8vw/1.6 "Spoqa Han Sans Neo", sans-serif;
            color: #444;
            word-break: keep-all; }
        .main .inner .content .box.about .item {
          width: 100%;
          height: 25vh;
          background-color: #5169bf; }
        .main .inner .content .box.about .subPage .bgCircle {
          background-color: #5169bf; }
        .main .inner .content .box.contact {
          height: 100%; }
          .main .inner .content .box.contact .item {
            width: 100%;
            height: 45vh;
            background-color: #3e715c; }
          .main .inner .content .box.contact .subPage .bgCircle {
            background-color: #3e715c; }
          .main .inner .content .box.contact .subPage .contactBox {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 70vw; }
            .main .inner .content .box.contact .subPage .contactBox h2 {
              font: 500 italic 4.5vw/1 "Poppins", sans-serif;
              margin-bottom: 5vh;
              text-align: center; }
            .main .inner .content .box.contact .subPage .contactBox #contactForm {
              width: 60%;
              margin: 0 auto; }
              .main .inner .content .box.contact .subPage .contactBox #contactForm section {
                width: 100%;
                margin-bottom: 50px; }
                .main .inner .content .box.contact .subPage .contactBox #contactForm section article {
                  display: flex;
                  justify-content: flex-start;
                  align-items: baseline;
                  width: 100%;
                  margin-bottom: 3vh; }
                  .main .inner .content .box.contact .subPage .contactBox #contactForm section article label {
                    width: 40%;
                    font: 600 1vw/1 "Poppins", sans-serif;
                    color: #222; }
                  .main .inner .content .box.contact .subPage .contactBox #contactForm section article input {
                    width: 50%;
                    padding: 10px 15px;
                    border-radius: 0;
                    border: 1px solid #000;
                    font: 400 0.9vw/1 "Spoqa Han Sans Neo", sans-serif; }
                    .main .inner .content .box.contact .subPage .contactBox #contactForm section article input:focus {
                      outline: none; }
                  .main .inner .content .box.contact .subPage .contactBox #contactForm section article textarea {
                    width: 50%;
                    height: 100px;
                    padding: 10px 15px;
                    border-radius: 0;
                    border: 1px solid #000;
                    font: 400 0.9vw/1.2 "Spoqa Han Sans Neo", sans-serif;
                    resize: none; }
                    .main .inner .content .box.contact .subPage .contactBox #contactForm section article textarea:focus {
                      outline: none; }
              .main .inner .content .box.contact .subPage .contactBox #contactForm input[type='submit'] {
                display: block;
                padding: 10px 40px;
                margin: 0 auto;
                background-color: transparent;
                border: 1px solid #222;
                font: bold 20px/1 "Poppins", sans-serif;
                cursor: pointer;
                transition: 0.35s; }
                .main .inner .content .box.contact .subPage .contactBox #contactForm input[type='submit']:hover {
                  background-color: #3e715c;
                  border-color: #3e715c;
                  color: #fff; }
        .main .inner .content .box.work .item {
          width: 100%;
          height: 15vh;
          background-color: #dfbf32; }
        .main .inner .content .box.work .subPage .bgCircle {
          background-color: #dfbf32; }
        .main .inner .content .box.work .subPage .project {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 75vw; }
          .main .inner .content .box.work .subPage .project .left {
            margin-right: 4vw; }
            .main .inner .content .box.work .subPage .project .left .title {
              display: block;
              font: 500 italic 4.5vw/1 "Poppins", sans-serif;
              margin-bottom: 5vh;
              text-align: right; }
            .main .inner .content .box.work .subPage .project .left .projectPic {
              width: 600px;
              height: 300px; }
              .main .inner .content .box.work .subPage .project .left .projectPic img {
                width: 100%;
                height: 100%;
                object-fit: contain; }
          .main .inner .content .box.work .subPage .project .right .subTxt .workDesc {
            font: 400 1vw/1.6 "Spoqa Han Sans Neo", sans-serif;
            color: #222;
            margin: 10px 0 30px; }
          .main .inner .content .box.work .subPage .project .right .subTxt .arrow {
            position: relative;
            display: block;
            width: 180px;
            height: 2px;
            background-color: #222;
            text-indent: -99999px;
            font-size: 0;
            margin-bottom: 30px; }
            .main .inner .content .box.work .subPage .project .right .subTxt .arrow::before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              display: block;
              width: 12px;
              height: inherit;
              background-color: inherit;
              transform-origin: right center;
              transform: rotate(45deg); }
            .main .inner .content .box.work .subPage .project .right .subTxt .arrow::after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              display: block;
              width: 12px;
              height: inherit;
              background-color: inherit;
              transform-origin: right center;
              transform: rotate(-45deg); }
          .main .inner .content .box.work .subPage .project .right .subTxt .hashTag {
            font: 400 1.2vw/1.4 "Poppins", sans-serif; }
          .main .inner .content .box.work .subPage .project .projectBox {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            margin-top: 50px; }
            .main .inner .content .box.work .subPage .project .projectBox .toyItem {
              width: 30%;
              height: 35vh;
              background-color: #e8e8e8; }
              .main .inner .content .box.work .subPage .project .projectBox .toyItem a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden; }
                .main .inner .content .box.work .subPage .project .projectBox .toyItem a:hover .txt {
                  transform: translateY(0);
                  opacity: 1; }
                .main .inner .content .box.work .subPage .project .projectBox .toyItem a .thumb {
                  width: 100%;
                  height: 100%;
                  object-fit: cover; }
                .main .inner .content .box.work .subPage .project .projectBox .toyItem a .txt {
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: flex;
                  justify-content: center;
                  align-content: center;
                  flex-wrap: wrap;
                  width: 100%;
                  height: 100%;
                  background-color: rgba(0, 0, 0, 0.5);
                  text-align: center;
                  transform: translateY(-100%);
                  opacity: 0;
                  transition: 0.5s; }
                  .main .inner .content .box.work .subPage .project .projectBox .toyItem a .txt h4 {
                    width: 100%;
                    margin-bottom: 30px;
                    font: bold 30px/1 "Poppins", sans-serif;
                    color: #dfbf32; }
                  .main .inner .content .box.work .subPage .project .projectBox .toyItem a .txt span {
                    font: bold 16px/1 "Poppins", sans-serif;
                    color: #fff;
                    text-transform: uppercase; }
          .main .inner .content .box.work .subPage .project .btns {
            margin-top: 70px; }
            .main .inner .content .box.work .subPage .project .btns .btn {
              margin-bottom: 20px; }
              .main .inner .content .box.work .subPage .project .btns .btn:hover span {
                transform: translateX(200%);
                opacity: 1; }
              .main .inner .content .box.work .subPage .project .btns .btn a {
                display: block;
                width: 100px;
                height: 50px;
                font: 500 1.2vw/50px "Poppins", sans-serif;
                color: #222;
                text-transform: capitalize;
                transition: 0.35s; }
              .main .inner .content .box.work .subPage .project .btns .btn span {
                position: relative;
                display: block;
                width: 50px;
                height: 2px;
                background-color: #222;
                text-indent: -99999px;
                font-size: 0;
                margin-top: -25px;
                opacity: 0;
                transition: 0.5s; }
                .main .inner .content .box.work .subPage .project .btns .btn span::before {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 0;
                  display: block;
                  width: 12px;
                  height: inherit;
                  background-color: inherit;
                  transform-origin: right center;
                  transform: rotate(45deg); }
                .main .inner .content .box.work .subPage .project .btns .btn span::after {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 0;
                  display: block;
                  width: 12px;
                  height: inherit;
                  background-color: inherit;
                  transform-origin: right center;
                  transform: rotate(-45deg); }

.mask {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: left 1s ease;
  z-index: 5; }
  .mask.on {
    left: 0; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@media screen and (max-width: 1179px) {
  .main {
    overflow: scroll; }
    .main .inner .content {
      bottom: auto;
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      height: auto; }
      .main .inner .content .box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 50px; }
        .main .inner .content .box .title {
          width: 100%; }
        .main .inner .content .box .subPage {
          left: 180%;
          transition: left 1s ease; }
          .main .inner .content .box .subPage .bgCircle {
            top: 0;
            right: 10vw; }
          .main .inner .content .box .subPage .inner .subIntro a {
            font-size: 20px; }
          .main .inner .content .box .subPage .inner .prev {
            position: absolute;
            right: 0;
            top: auto;
            bottom: 0;
            width: 70px;
            height: 70px;
            line-height: 70px; }
        .main .inner .content .box.intro {
          width: 100%;
          height: 200px; }
          .main .inner .content .box.intro .intro_tit {
            font-size: 25px; }
          .main .inner .content .box.intro .intro_desc {
            top: 0;
            left: auto;
            right: 0;
            width: 50vw;
            font-size: 14px; }
          .main .inner .content .box.intro .guide_txt {
            width: 30%; }
        .main .inner .content .box.about .item {
          width: 48%; }
        .main .inner .content .box.contact .item {
          width: 100%;
          height: 25vh; }
        .main .inner .content .box.contact .subPage .contactBox {
          width: 90vw; }
          .main .inner .content .box.contact .subPage .contactBox h2 {
            font-size: 40px; }
          .main .inner .content .box.contact .subPage .contactBox #contactForm {
            width: 80%; }
            .main .inner .content .box.contact .subPage .contactBox #contactForm section {
              width: 100%; }
              .main .inner .content .box.contact .subPage .contactBox #contactForm section article label {
                width: 40%;
                font-size: 16px; }
              .main .inner .content .box.contact .subPage .contactBox #contactForm section article input {
                font-size: 14px; }
              .main .inner .content .box.contact .subPage .contactBox #contactForm section article textarea {
                font-size: 14px; }
        .main .inner .content .box.work .item {
          width: 48%; }
        .main .inner .content .box.work .subPage .project {
          width: 80vw;
          height: 80vh;
          margin: 0 auto; }
          .main .inner .content .box.work .subPage .project .left {
            width: 100%;
            margin-right: 0; }
            .main .inner .content .box.work .subPage .project .left .title {
              font-size: 40px; }
            .main .inner .content .box.work .subPage .project .left .projectPic {
              width: 80vw;
              margin: 0 auto; }
          .main .inner .content .box.work .subPage .project .right {
            display: flex;
            justify-content: space-between;
            width: 600px; }
            .main .inner .content .box.work .subPage .project .right .subTxt {
              width: 50%; }
              .main .inner .content .box.work .subPage .project .right .subTxt .workDesc {
                font-size: 14px;
                word-break: keep-all; }
              .main .inner .content .box.work .subPage .project .right .subTxt .hashTag {
                font-size: 16px; }
          .main .inner .content .box.work .subPage .project .projectBox {
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            margin-top: 0px; }
            .main .inner .content .box.work .subPage .project .projectBox .toyItem {
              width: 31%;
              height: auto; }
              .main .inner .content .box.work .subPage .project .projectBox .toyItem a .thumb {
                object-fit: contain; }
              .main .inner .content .box.work .subPage .project .projectBox .toyItem a .txt h4 {
                font-size: 14px; }
          .main .inner .content .box.work .subPage .project .btns {
            width: 30%;
            margin-top: 10px; }
            .main .inner .content .box.work .subPage .project .btns .btn a {
              font-size: 16px; }
            .main .inner .content .box.work .subPage .project .btns .btn:hover span {
              transform: translateX(120%); } }
@media screen and (max-width: 539px) {
  .main .inner .content .box .subPage {
    left: 180%; }
    .main .inner .content .box .subPage .bgCircle {
      top: 20px;
      right: 10vw; }
  .main .inner .content .box.intro {
    height: 300px; }
    .main .inner .content .box.intro .intro_tit {
      height: 100px; }
    .main .inner .content .box.intro .intro_desc {
      top: 130px;
      left: 0;
      right: auto;
      width: 90%; }
    .main .inner .content .box.intro .guide_txt {
      width: 100%; }
  .main .inner .content .box.about .item {
    width: 100%;
    height: 15vh; }
  .main .inner .content .box.contact .item {
    width: 100%;
    height: 15vh; }
  .main .inner .content .box.contact .subPage .contactBox {
    width: 90vw; }
    .main .inner .content .box.contact .subPage .contactBox h2 {
      margin-top: 30px; }
    .main .inner .content .box.contact .subPage .contactBox #contactForm section {
      width: 100%;
      margin-bottom: 30px; }
      .main .inner .content .box.contact .subPage .contactBox #contactForm section article {
        flex-direction: column; }
        .main .inner .content .box.contact .subPage .contactBox #contactForm section article label {
          width: 100%;
          margin-bottom: 10px; }
        .main .inner .content .box.contact .subPage .contactBox #contactForm section article input {
          width: 100%; }
        .main .inner .content .box.contact .subPage .contactBox #contactForm section article textarea {
          width: 100%; }
  .main .inner .content .box.work .item {
    width: 100%; }
  .main .inner .content .box.work .subPage .project {
    width: 80vw;
    height: 60vh; }
    .main .inner .content .box.work .subPage .project .left {
      width: 100%;
      margin-right: 0; }
      .main .inner .content .box.work .subPage .project .left .title {
        font-size: 40px; }
      .main .inner .content .box.work .subPage .project .left .projectPic {
        height: auto; }
    .main .inner .content .box.work .subPage .project .right {
      flex-wrap: wrap; }
      .main .inner .content .box.work .subPage .project .right .subTxt {
        width: 100%; }
        .main .inner .content .box.work .subPage .project .right .subTxt .workDesc {
          font-size: 14px;
          margin-bottom: 20px; }
        .main .inner .content .box.work .subPage .project .right .subTxt .hashTag {
          font-size: 14px; }
    .main .inner .content .box.work .subPage .project .projectBox {
      margin-top: 20px; }
      .main .inner .content .box.work .subPage .project .projectBox .toyItem {
        width: 33.3333%;
        height: 100px; }
        .main .inner .content .box.work .subPage .project .projectBox .toyItem a .thumb {
          object-fit: cover; }
    .main .inner .content .box.work .subPage .project .btns {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-top: 20px; }
      .main .inner .content .box.work .subPage .project .btns .btn a {
        text-align: center;
        border-right: 1px solid #b7b7b7; }
      .main .inner .content .box.work .subPage .project .btns .btn:last-child a {
        border-right: none; }
      .main .inner .content .box.work .subPage .project .btns .btn:hover span {
        opacity: 0; } }

/*# sourceMappingURL=style.css.map */
