@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
ol,
li {
  list-style: none; }

a {
  text-decoration: none; }

fieldset {
  border: none; }

table,
th,
td {
  border-collapse: collapse; }

input,
a,
img,
span,
label,
select {
  vertical-align: middle; }

.sr-only {
  position: absolute;
  top: -9999px;
  opacity: 0; }

.main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: #e8e8e8; }
  .main .inner {
    width: 100%;
    height: 100%;
    position: relative; }
    .main .inner .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%; }
      .main .inner .content .box {
        position: relative;
        width: 25%; }
        .main .inner .content .box .title {
          margin-bottom: 20px;
          font: 500 38px/1 "Exo", sans-serif;
          text-transform: uppercase; }
        .main .inner .content .box .item {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 15px;
          margin-bottom: 20px;
          cursor: pointer;
          transition: 0.35s; }
          .main .inner .content .box .item .itemTit {
            font: bold 14px/1.4 "Spoqa Han Sans Neo", sans-serif;
            color: #fff;
            text-transform: uppercase; }
          .main .inner .content .box .item .arrow {
            position: relative;
            display: block;
            width: 60px;
            height: 2px;
            background-color: #fff;
            text-indent: -99999px;
            font-size: 0;
            margin-bottom: 10px; }
            .main .inner .content .box .item .arrow::before {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              display: block;
              width: 12px;
              height: inherit;
              background-color: inherit;
              transform-origin: right center;
              transform: rotate(45deg); }
            .main .inner .content .box .item .arrow::after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              display: block;
              width: 12px;
              height: inherit;
              background-color: inherit;
              transform-origin: right center;
              transform: rotate(-45deg); }
          .main .inner .content .box .item:hover {
            box-shadow: 5px 5px 15px rgba(156, 156, 156, 0.5); }
          .main .inner .content .box .item:nth-last-child(2) {
            margin-bottom: 0; }
        .main .inner .content .box .subPage {
          position: fixed;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100vh;
          padding: 30px;
          background-color: #e8e8e8;
          transition: left 1s ease;
          z-index: 3; }
          .main .inner .content .box .subPage.on {
            left: 0; }
          .main .inner .content .box .subPage .bgCircle {
            position: absolute;
            top: 50%;
            right: 15vw;
            transform: translateY(-50%);
            width: 40vw;
            height: 40vw;
            background-color: #dfbf32;
            border-radius: 50%;
            filter: blur(20px); }
          .main .inner .content .box .subPage .inner {
            position: relative;
            width: 100%;
            height: 100%; }
            .main .inner .content .box .subPage .inner .subIntro a {
              font: bold 2vw/1.5 "Spoqa Han Sans Neo", sans-serif;
              color: #222; }
            .main .inner .content .box .subPage .inner .project {
              display: flex;
              justify-content: center;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 75vw; }
              .main .inner .content .box .subPage .inner .project .left {
                margin-right: 4vw; }
                .main .inner .content .box .subPage .inner .project .left .title {
                  display: block;
                  font: 500 italic 4.5vw/1 "Poppins", sans-serif;
                  margin-bottom: 5vh;
                  text-align: right; }
                .main .inner .content .box .subPage .inner .project .left .projectPic {
                  width: 600px;
                  height: 300px;
                  border: 1px solid #000; }
              .main .inner .content .box .subPage .inner .project .right .subTxt .workDesc {
                font: 400 1vw/1.6 "Spoqa Han Sans Neo", sans-serif;
                color: #222;
                margin: 10px 0 30px; }
              .main .inner .content .box .subPage .inner .project .right .subTxt .arrow {
                position: relative;
                display: block;
                width: 180px;
                height: 2px;
                background-color: #222;
                text-indent: -99999px;
                font-size: 0;
                margin-bottom: 30px; }
                .main .inner .content .box .subPage .inner .project .right .subTxt .arrow::before {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 0;
                  display: block;
                  width: 12px;
                  height: inherit;
                  background-color: inherit;
                  transform-origin: right center;
                  transform: rotate(45deg); }
                .main .inner .content .box .subPage .inner .project .right .subTxt .arrow::after {
                  content: '';
                  position: absolute;
                  right: 0;
                  top: 0;
                  display: block;
                  width: 12px;
                  height: inherit;
                  background-color: inherit;
                  transform-origin: right center;
                  transform: rotate(-45deg); }
              .main .inner .content .box .subPage .inner .project .right .subTxt .hashTag {
                font: 400 1.2vw/1.4 "Poppins", sans-serif; }
              .main .inner .content .box .subPage .inner .project .btns {
                margin-top: 70px; }
                .main .inner .content .box .subPage .inner .project .btns .btn {
                  margin-bottom: 20px; }
                  .main .inner .content .box .subPage .inner .project .btns .btn a {
                    display: block;
                    width: 100px;
                    height: 50px;
                    font: 500 1.2vw/50px "Poppins", sans-serif;
                    color: #222;
                    text-transform: capitalize;
                    transition: 0.35s; }
                    .main .inner .content .box .subPage .inner .project .btns .btn a:hover {
                      font-weight: bold;
                      transform: scale(1.1); }
            .main .inner .content .box .subPage .inner .prev {
              position: absolute;
              right: 0;
              top: 50%;
              width: 100px;
              height: 100px;
              margin-top: -50px;
              border-radius: 50%;
              background-color: #b7b7b7;
              font: 400 1vw/100px "Exo", sans-serif;
              text-align: center;
              color: #fff;
              transition: 0.35s; }
              .main .inner .content .box .subPage .inner .prev:hover {
                animation: circle 1.5s linear infinite; }
        .main .inner .content .box.intro {
          width: 20%;
          height: calc(100vh - 60px); }
          .main .inner .content .box.intro .intro_tit {
            position: absolute;
            top: 0;
            left: 0;
            font: bold 3vw/1.5 "Spoqa Han Sans Neo", sans-serif;
            color: #222; }
          .main .inner .content .box.intro .intro_desc {
            position: absolute;
            top: 40%;
            left: 0;
            font: 400 0.9vw/1.6 "Spoqa Han Sans Neo", sans-serif;
            color: #222;
            word-break: keep-all; }
          .main .inner .content .box.intro .guide_txt {
            position: absolute;
            bottom: 0;
            left: 0;
            font: 400 0.8vw/1.6 "Spoqa Han Sans Neo", sans-serif;
            color: #444;
            word-break: keep-all; }
        .main .inner .content .box.about .item {
          width: 100%;
          height: 25vh;
          background-color: #5169bf; }
        .main .inner .content .box.contact {
          height: 100%; }
          .main .inner .content .box.contact .item {
            width: 100%;
            height: 45vh;
            background-color: #3e715c; }
        .main .inner .content .box.work .item {
          width: 100%;
          height: 15vh;
          background-color: #dfbf32; }

.mask {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: left 1s ease;
  z-index: 2; }
  .mask.on {
    left: 0; }

@keyframes circle {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
