//color
$dark_black: #222;
$light_black: #444;
$light_gray: #e8e8e8;
$dark_gray: #b7b7b7;
$blue: #5169bf;
$green: #3e715c;
$yellow: #dfbf32;
$white: #fff;

//font
$fontS: 'Spoqa Han Sans Neo', sans-serif;
$fontE: 'Exo', sans-serif;
$fontP: 'Poppins', sans-serif;

//rwd
$tablet: 1179px;
$mobile: 539px;
