@charset "utf-8";
//font
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

@import 'reset';
@import 'variable';
@import 'mixin';

.main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: $light_gray;

  .inner {
    width: 100%;
    height: 100%;
    position: relative;

    .intro {
      font: bold 50px/1.5 $fontS;
      margin-bottom: 50px;
    }

    .intro_desc {
      width: 20%;
      font: 400 14px/1.6 $fontS;
      word-break: keep-all;
    }

    .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .box {
        width: 25%;

        .title {
          margin-bottom: 20px;
          font: 500 38px/1 $fontE;
          text-transform: uppercase;
        }

        .item {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 15px;
          margin-bottom: 20px;
          cursor: pointer;
          transition: 0.35s;

          .itemTit {
            font: bold 14px/1.4 $fontS;
            color: $white;
            text-transform: uppercase;
          }

          .arrow {
            @include arrow_bar(60px, $white);
            margin-bottom: 10px;
            &::before {
              @include arrow_a_top;
            }

            &::after {
              @include arrow_a_bottom;
            }
          }

          &:hover {
            box-shadow: 5px 5px 15px rgba(156, 156, 156, 0.5);
          }

          &:nth-last-child(2) {
            margin-bottom: 0;
          }
        }

        .subPage {
          position: fixed;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100vh;
          padding: 30px;
          background-color: $light_gray;
          transition: left 1s ease;
          z-index: 3;

          &.on {
            left: 0;
          }

          .bgCircle {
            position: absolute;
            top: 50%;
            right: 15vw;
            transform: translateY(-50%);
            width: 650px;
            height: 650px;
            background-color: $yellow;
            border-radius: 50%;
            filter: blur(20px);
          }

          .inner {
            position: relative;
            width: 100%;
            height: 100%;

            .subIntro {
              a {
                font: bold 30px/1.5 $fontS;
                color: $dark_black;
              }
            }

            .project {
              display: flex;
              justify-content: center;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 70vw;

              .left {
                margin-right: 50px;

                .title {
                  display: block;
                  font: 500 italic 80px/1 $fontP;
                  margin-bottom: 50px;
                  text-align: right;
                }

                .projectPic {
                  width: 500px;
                  height: 300px;
                  border: 1px solid #000;
                }
              }

              .right {
                .subTxt {
                  .workDesc {
                    font: 400 16px/1.6 $fontS;
                    color: $dark_black;
                    margin: 10px 0 30px;
                  }

                  .arrow {
                    @include arrow_bar(180px, $dark_black);
                    margin-bottom: 30px;

                    &::before {
                      @include arrow_a_top;
                    }

                    &::after {
                      @include arrow_a_bottom;
                    }
                  }

                  .hashTag {
                    font: 400 20px/1 $fontP;
                  }
                }
              }

              .btns {
                margin-top: 70px;
                .btn {
                  margin-bottom: 20px;

                  a {
                    display: block;
                    width: 100px;
                    height: 50px;
                    font: 500 20px/50px $fontP;
                    color: $dark_black;
                    text-transform: capitalize;
                    transition: 0.35s;

                    &:hover {
                      font-weight: bold;
                      font-size: 22px;
                    }
                  }
                }
              }
            }

            .prev {
              position: absolute;
              right: 0;
              top: 50%;
              width: 100px;
              height: 100px;
              margin-top: -50px;
              border-radius: 50%;
              background-color: $dark_gray;
              font: 400 16px/100px $fontE;
              text-align: center;
              color: $white;
              transition: 0.35s;

              &:hover {
                animation: circle 1.5s linear infinite;
              }
            }
          }
        }

        &.visual {
          width: 20%;
        }

        &.about {
          .item {
            width: 100%;
            height: 25vh;
            background-color: $blue;
          }
        }

        &.contact {
          height: 100%;

          .item {
            width: 100%;
            height: 45vh;
            background-color: $green;
          }
        }

        &.work {
          .item {
            width: 100%;
            height: 15vh;
            background-color: $yellow;
          }
        }
      }
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: left 1s ease;
  z-index: 2;

  &.on {
    left: 0;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
