@charset "utf-8";
//font
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

@import 'reset';
@import 'variable';
@import 'mixin';

.main {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 30px;
  background-color: $light_gray;

  .inner {
    width: 100%;
    height: 100%;
    position: relative;

    .content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      .box {
        position: relative;
        width: 25%;

        .title {
          margin-bottom: 20px;
          font: 500 38px/1 $fontE;
          text-transform: uppercase;
        }

        .item,
        .down {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          padding: 15px;
          margin-bottom: 20px;
          cursor: pointer;
          transition: 0.35s;
          overflow: hidden;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(100%);
            display: block;
            width: 100%;
            height: 100%;
            background-color: $dark_black;
            opacity: 0;
            transition: 0.35s;
            z-index: 1;
          }

          .itemTit {
            position: relative;
            font: bold 14px/1.4 $fontS;
            color: $white;
            text-transform: uppercase;
            z-index: 2;
          }

          .arrow {
            @include arrow_bar(60px, $white);
            margin-bottom: 10px;
            z-index: 2;

            &::before {
              @include arrow_a_top;
            }

            &::after {
              @include arrow_a_bottom;
            }
          }

          &:hover {
            box-shadow: 5px 5px 15px rgba(156, 156, 156, 0.5);

            &::after {
              transform: translateY(0);
              opacity: 1;
            }
          }

          &:nth-last-child(2) {
            margin-bottom: 0;
          }
        }

        .subPage {
          position: fixed;
          top: 0;
          left: 100%;
          width: 100%;
          height: 100vh;
          padding: 30px;
          background-color: $light_gray;
          transition: left 1s ease;
          z-index: 6;

          &.on {
            left: 0;

            .inner {
              .prev {
                transition-delay: 1s;
                transform: translateX(0);
              }
            }
          }

          .bgCircle {
            position: absolute;
            top: 50%;
            right: 15vw;
            transform: translateY(-50%);
            width: 40vw;
            height: 40vw;
            border-radius: 50%;
            filter: blur(20px);
          }

          .inner {
            position: relative;
            width: 100%;
            height: 100%;

            .subIntro {
              a {
                font: bold 2vw/1.5 $fontS;
                color: $dark_black;
              }
            }

            .project {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 75vw;

              .left {
                margin-right: 4vw;
              }
            }

            .prev {
              position: fixed;
              right: 30px;
              top: 50%;
              width: 100px;
              height: 100px;
              margin-top: -50px;
              border-radius: 50%;
              border: 1px solid $dark_black;
              font: 700 1vw/100px $fontE;
              text-align: center;
              color: $dark_black;
              transform: translateX(150%);
              transition: animation 0.35s, transform 1s;

              &:hover {
                animation: circle 1.5s linear infinite;
              }
            }
          }
        }

        &.intro {
          width: 20%;
          height: calc(100vh - 60px);

          .intro_tit {
            position: absolute;
            top: 0;
            left: 0;
            font: bold 3vw/1.5 $fontS;
            color: $dark_black;
          }

          .intro_desc {
            position: absolute;
            top: 40%;
            left: 0;
            font: 400 0.9vw/1.6 $fontS;
            color: $dark_black;
            word-break: keep-all;
          }

          .guide_txt {
            position: absolute;
            bottom: 0;
            left: 0;
            font: 400 0.8vw/1.6 $fontS;
            color: $light_black;
            word-break: keep-all;
          }
        }

        &.about {
          .item,
          .down {
            width: 100%;
            height: 25vh;
            background-color: $blue;
          }

          .down {
            .arrow {
              transform: rotate(90deg);
              width: 24px;
            }
          }

          .subPage {
            .bgCircle {
              background-color: #6983df;
            }

            &.stack {
              .inner {
                .project {
                  flex-wrap: nowrap;

                  .left {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50%;

                    h4 {
                      font: bold 35px/1.4 $fontS;
                      color: $dark_black;
                      span {
                        display: block;
                        margin-bottom: 20px;
                        color: $blue;
                      }
                    }
                  }
                  .right {
                    width: 50%;

                    .stackList {
                      width: 100%;

                      .point {
                        margin-bottom: 50px;

                        &:last-child {
                          margin-bottom: 0;
                        }
                        .pointTit {
                          margin-bottom: 20px;
                          font: bold 20px/1 $fontP;
                          color: #000;
                        }
                        .pointDesc {
                          font: 500 16px/1.6 $fontS;
                          color: #111;
                          word-break: keep-all;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.contact {
          height: 100%;

          .item {
            width: 100%;
            height: 45vh;
            background-color: $green;
          }

          .subPage {
            .bgCircle {
              background-color: $green;
            }

            .contactBox {
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 70vw;

              h2 {
                font: 500 italic 4.5vw/1 $fontP;
                margin-bottom: 5vh;
                text-align: center;
              }

              #contactForm {
                width: 60%;
                margin: 0 auto;

                section {
                  width: 100%;
                  margin-bottom: 50px;

                  article {
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    width: 100%;
                    margin-bottom: 3vh;

                    label {
                      width: 40%;
                      font: 600 1vw/1 $fontP;
                      color: $dark_black;
                    }

                    input {
                      width: 50%;
                      padding: 10px 15px;
                      border-radius: 0;
                      border: 1px solid #000;
                      font: 400 0.9vw/1 $fontS;

                      &:focus {
                        outline: none;
                      }
                    }

                    textarea {
                      width: 50%;
                      height: 100px;
                      padding: 10px 15px;
                      border-radius: 0;
                      border: 1px solid #000;
                      font: 400 0.9vw/1.2 $fontS;
                      resize: none;

                      &:focus {
                        outline: none;
                      }
                    }
                  }
                }

                input[type='submit'] {
                  display: block;
                  padding: 10px 40px;
                  margin: 0 auto;
                  background-color: transparent;
                  border: 1px solid $dark_black;
                  font: bold 20px/1 $fontP;
                  cursor: pointer;
                  transition: 0.35s;

                  &:hover {
                    background-color: $green;
                    border-color: $green;
                    color: $white;
                  }
                }
              }
            }
          }
        }

        &.work {
          .item {
            width: 100%;
            height: 15vh;
            background-color: $yellow;
          }

          .subPage {
            .bgCircle {
              background-color: $yellow;
            }

            .project {
              .left {
                .title {
                  display: block;
                  font: 500 italic 4.5vw/1 $fontP;
                  margin-bottom: 5vh;
                  text-align: right;
                }

                .projectPic {
                  width: 600px;
                  height: 300px;

                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
              }

              .right {
                .subTxt {
                  .workDesc {
                    font: 400 1vw/1.6 $fontS;
                    color: $dark_black;
                    margin: 10px 0 30px;
                  }

                  .arrow {
                    @include arrow_bar(180px, $dark_black);
                    margin-bottom: 30px;

                    &::before {
                      @include arrow_a_top;
                    }

                    &::after {
                      @include arrow_a_bottom;
                    }
                  }

                  .hashTag {
                    font: 400 1.2vw/1.4 $fontP;
                  }
                }
              }

              .projectBox {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 80%;
                margin-top: 50px;

                .toyItem {
                  width: 30%;
                  height: 35vh;
                  background-color: $light_gray;

                  a {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    &:hover {
                      .txt {
                        transform: translateY(0);
                        opacity: 1;
                      }
                    }

                    .thumb {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }

                    .txt {
                      position: absolute;
                      top: 0;
                      left: 0;
                      display: flex;
                      justify-content: center;
                      align-content: center;
                      flex-wrap: wrap;
                      width: 100%;
                      height: 100%;
                      background-color: rgba(0, 0, 0, 0.5);
                      text-align: center;
                      transform: translateY(-100%);
                      opacity: 0;
                      transition: 0.5s;

                      h4 {
                        width: 100%;
                        margin-bottom: 30px;
                        font: bold 30px/1 $fontP;
                        color: $yellow;
                      }

                      span {
                        font: bold 16px/1 $fontP;
                        color: $white;
                        text-transform: uppercase;
                      }
                    }
                  }
                }
              }

              .btns {
                margin-top: 70px;

                .btn {
                  margin-bottom: 20px;
                  overflow: hidden;

                  a {
                    position: relative;
                    display: inline-block;
                    padding: 10px 5px;
                    font: 500 14px/1 $fontS;
                    color: $dark_black;
                    border-bottom: 1px solid #000;
                    text-transform: capitalize;
                    transition: 0.35s;

                    &:hover {
                      color: $white;
                      border-bottom-color: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  transition: left 1s ease;
  z-index: 5;

  &.on {
    left: 0;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: $tablet) {
  .main {
    overflow: scroll;

    .inner {
      .content {
        bottom: auto;
        top: 0;
        flex-direction: column;
        align-items: flex-start;
        height: auto;

        .box {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          width: 100%;
          margin-bottom: 50px;

          .title {
            width: 100%;
          }

          .subPage {
            left: 180%;
            transition: left 1s ease;

            .bgCircle {
              top: 0;
              right: 10vw;
            }

            .inner {
              .subIntro {
                a {
                  font-size: 20px;
                }
              }

              .prev {
                position: fixed;
                right: 30px;
                top: auto;
                bottom: 30px;
                width: 70px;
                height: 70px;
                line-height: 70px;
              }
            }
          }

          &.intro {
            width: 100%;
            height: 200px;

            .intro_tit {
              font-size: 25px;
            }

            .intro_desc {
              top: 0;
              left: auto;
              right: 0;
              width: 50vw;
              font-size: 14px;
            }

            .guide_txt {
              width: 30%;
            }
          }

          &.about {
            .item,
            .down {
              width: 48%;
            }

            .subPage {
              overflow: scroll;
              &.stack {
                height: 100%;
                .inner {
                  .project {
                    top: 0;
                    transform: translateX(-50%);
                    flex-wrap: wrap;
                    width: 90vw;

                    .left {
                      width: 100%;
                      text-align: right;
                      margin-bottom: 40px;

                      h4 {
                        width: 100%;
                        font-size: 30px;
                      }
                    }
                    .right {
                      width: 100%;
                      margin-bottom: 80px;

                      .stackList {
                        .point {
                          margin-bottom: 30px;

                          .pointTit {
                            margin-bottom: 20px;
                            font-size: 18px;
                          }
                          .pointDesc {
                            font-size: 14px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &.contact {
            .item {
              width: 100%;
              height: 25vh;
            }

            .subPage {
              .contactBox {
                width: 90vw;

                h2 {
                  font-size: 40px;
                }

                #contactForm {
                  width: 80%;

                  section {
                    width: 100%;

                    article {
                      label {
                        width: 40%;
                        font-size: 16px;
                      }

                      input {
                        font-size: 14px;
                      }

                      textarea {
                        font-size: 14px;
                      }
                    }
                  }
                }
              }
            }
          }

          &.work {
            .item {
              width: 48%;
            }

            .subPage {
              .project {
                width: 80vw;
                height: 80vh;
                margin: 0 auto;

                .left {
                  width: 100%;
                  margin-right: 0;

                  .title {
                    font-size: 40px;
                  }

                  .projectPic {
                    width: 80vw;
                    margin: 0 auto;
                  }
                }

                .right {
                  display: flex;
                  justify-content: space-between;
                  width: 600px;

                  .subTxt {
                    width: 50%;

                    .workDesc {
                      font-size: 14px;
                      word-break: keep-all;
                    }

                    .hashTag {
                      font-size: 16px;
                    }
                  }
                }

                .projectBox {
                  justify-content: space-between;
                  align-items: flex-start;
                  width: 100%;
                  margin-top: 0px;

                  .toyItem {
                    width: 31%;
                    height: auto;

                    a {
                      .thumb {
                        object-fit: contain;
                      }

                      .txt {
                        h4 {
                          font-size: 14px;
                        }
                      }
                    }
                  }
                }

                .btns {
                  width: 30%;
                  margin-top: 10px;

                  .btn {
                    a {
                      font-size: 12px;

                      &:hover {
                        color: $yellow;
                        border-bottom-color: $yellow;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .main {
    .inner {
      .content {
        .box {
          .subPage {
            left: 180%;

            .bgCircle {
              top: 20px;
              right: 10vw;
            }
          }

          &.intro {
            height: 300px;

            .intro_tit {
              height: 100px;
            }

            .intro_desc {
              top: 130px;
              left: 0;
              right: auto;
              width: 90%;
            }

            .guide_txt {
              width: 100%;
            }
          }

          &.about {
            .item,
            .down {
              width: 100%;
              height: 15vh;
            }

            .subPage {
              &.stack {
                .inner {
                  .project {
                    top: 20vh;
                    width: 85vw;
                    .left {
                      h4 {
                        font-size: 25px;
                      }
                    }
                    .right {
                      margin-bottom: 100px;
                    }
                  }
                }
              }
            }
          }

          &.contact {
            .item {
              width: 100%;
              height: 15vh;
            }

            .subPage {
              .contactBox {
                width: 90vw;

                h2 {
                  margin-top: 30px;
                }

                #contactForm {
                  section {
                    width: 100%;
                    margin-bottom: 30px;

                    article {
                      flex-direction: column;

                      label {
                        width: 100%;
                        margin-bottom: 10px;
                      }

                      input {
                        width: 100%;
                      }

                      textarea {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }

          &.work {
            .item {
              width: 100%;
            }

            .subPage {
              .project {
                width: 80vw;
                height: 60vh;

                .left {
                  width: 100%;
                  margin-right: 0;

                  .title {
                    font-size: 40px;
                  }

                  .projectPic {
                    height: auto;
                  }
                }

                .right {
                  flex-wrap: wrap;

                  .subTxt {
                    width: 100%;

                    .workDesc {
                      font-size: 14px;
                      margin-bottom: 20px;
                    }

                    .hashTag {
                      font-size: 14px;
                    }
                  }
                }

                .projectBox {
                  margin-top: 20px;

                  .toyItem {
                    width: 33.3333%;
                    height: 100px;

                    a {
                      .thumb {
                        object-fit: cover;
                      }
                    }
                  }
                }

                .btns {
                  display: flex;
                  justify-content: space-around;
                  width: 100%;
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
